@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url(//db.onlinewebfonts.com/c/0f56c874ba695191e7f4cab237447698?family=Futura);

/*----*/

/*PROPRETY FOR ALLS*/

#index .container{
	width:100% !important;
	padding: 0 !important;
}

.container.legende{
	width:100% !important;
	padding: 0 !important;
}

.row.inter{
	width:100% !important;
	padding: 0 !important;
	height: 100px !important;
}

.row{
	margin: 0 !important;
}

#numero{
	margin: 0 !important;
	text-align: center !important;
	margin-top: 30px !important;
}

#economie{
	margin: 0 !important;
	text-align: center !important;
	margin-top: 30px !important;
}

#partage{
	margin: 0 !important;
	text-align: center !important;
	margin-top: 30px !important;
}

#livraison{
	margin: 0 !important;
	text-align: center !important;
	margin-top: 30px !important;
}


#products .product-miniature .product-flags li.product-flag, .featured-products .product-miniature .product-flags li.product-flag, .product-accessories .product-miniature .product-flags li.product-flag, .product-miniature .product-miniature .product-flags li.product-flag {
    display: none;
}

#products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container {
    position: relative;
    margin-bottom: 1.563rem;
    height: 318px;
    width: 352px;
    background: #fff;
    box-shadow: none;
}

.paragraphe h4 {
    font-family: 'Futura', sans-serif !important;
    color: #c3d9b1!important;
    font-size: 14px;
}

.paragraphe .text-center {
    font-family: 'Open Sans', sans-serif;
    text-align: left !important;
}

#index .tabs .nav-tabs .nav-link.active {
    color: #000;
    background: #c3d9b1;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    font-size:14px;
}

#index .nav-item a {
    background: #fff;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000!important;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    width: 162px !important;
    text-align: center!important;
    font-size:14px;
    font-weight: 400;
}

.paragraphe .text-center {
    font-family: 'Open Sans', sans-serif;
    text-align: left !important;
}

#products .highlighted-informations, .featured-products .highlighted-informations, .product-accessories .highlighted-informations, .product-miniature .highlighted-informations {
    position: absolute;
    bottom: 1.25rem;
    padding-top: 3px;
    z-index: 2;
    background: #fff;
    text-align: center;
    width: 200px;
    height: 3.125rem;
    color:#000;
    box-shadow:none;
    transition: bottom .3s;
    right: 63px;
    bottom: -5px;
}

#products .thumbnail-container:focus .highlighted-informations.no-variants, #products .thumbnail-container:hover .highlighted-informations.no-variants, .featured-products .thumbnail-container:focus .highlighted-informations.no-variants, .featured-products .thumbnail-container:hover .highlighted-informations.no-variants, .product-accessories .thumbnail-container:focus .highlighted-informations.no-variants, .product-accessories .thumbnail-container:hover .highlighted-informations.no-variants, .product-miniature .thumbnail-container:focus .highlighted-informations.no-variants, .product-miniature .thumbnail-container:hover .highlighted-informations.no-variants {
    bottom: 50px;
    color: #000;
}

#products .thumbnail-container:focus .highlighted-informations.no-variants, #products .thumbnail-container:hover .highlighted-informations.no-variants, .featured-products .thumbnail-container:focus .highlighted-informations.no-variants, .featured-products .thumbnail-container:hover .highlighted-informations.no-variants, .product-accessories .thumbnail-container:focus .highlighted-informations.no-variants, .product-accessories .thumbnail-container:hover .highlighted-informations.no-variants, .product-miniature .thumbnail-container:focus .highlighted-informations.no-variants, .product-miniature .thumbnail-container:hover .highlighted-informations.no-variants:hover{
    color: #000;
}

#products .products, .featured-products .products, .product-accessories .products, .product-miniature .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.paragraphe.text{
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top:0!important;
    margin-top: 253px;
    font-size: 14px !important;
    
}

.paragraphe{
	width: 200px;
	margin: 0 auto;
	text-align:left;
	padding-top:0!important;
	margin-top: 85px;
        font-size: 14px !important;
}

.m-15 button {
    background-color: black;
    color: white;
    border-radius: 0px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    font-family: 'Futura' , sans-serif !important;
    font-size: 14px !important;
    text-decoration: none;
    text-shadow: 0px 1px 0px black !important;
    margin-top: 20px;
}

.tabs .nav-tabs {
    border: none;
    border-bottom: none !important;
    width: 698px;
    margin: 0 auto;
}

#index .tabs .nav-tabs .nav-link.active {
    color: #000;
    background: #c3d9b1;
    font-family: 'Futura', sans-serif !important;
    font-size: 14px;
    margin-left: 20px;
}

#index .nav-item a {
    background: #fff;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000!important;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    text-align: center!important;
    font-size: 14px;
    font-weight: 400;
    margin-left: 62px;
}

.tabs {
    padding: 0%;
    background: none;
    box-shadow: none;
    margin-top: 92px;
}

.nav-tabs .nav-link.active {
    color: #000;
    background: #c3d9b1;
    font-family: 'Futura', sans-serif !important;
    font-size: 14px;
    margin-left: 20px;
    white-space: nowrap;
}

.block-social {
    text-align: right;
    display: none !important;
}


#products .product-miniature, .featured-products .product-miniature, .product-accessories .product-miniature, .product-miniature .product-miniature {
    margin: 90px 11px ;
    padding: 0px;
    box-sizing: border-box;
}

		/*MEDIA QUERY*/


@media screen and (min-width:1340px){
	.search-widget form button[type=submit] {
    background: none;
    border: none;
    top: -11px;
    right: 218px;
    position: absolute;
    color: #7a7a7a;
}

div.header i.shopping-cart {
    position: absolute;
    top: 129px;
    right: 216px;
}

	.search-widget form button[type=submit] {
    background: none;
    border: none;
    position: absolute;
    top: 68px;
    right: 217px;
    color: #7a7a7a;
}
	#products .highlighted-informations .quick-view, .featured-products .highlighted-informations .quick-view, .product-accessories .highlighted-informations .quick-view, .product-miniature .highlighted-informations .quick-view:hover {
    		color: #000;
		position: absolute;
		margin:0;
		padding:0;
    		font-size: 1rem;
    		white-space: nowrap;
    		z-index: 3;
	}

	.header-top .search-widget form input[type=text] {
    		display: none;
	}

#products .highlighted-informations, .featured-products .highlighted-informations, .product-accessories .highlighted-informations, .product-miniature .highlighted-informations {
    position: absolute;
    bottom: 1.25rem;
    padding-top: 3px;
    z-index: 2;
    background: #fff;
    text-align: center;
    width: 282px;
    height: 3.125rem;
    color: #000;
    box-shadow: none;
    transition: bottom .3s;
    right: 102px;
    bottom: -5px;
}

	.products{
	margin-left: 10% !important;
}

#products .thumbnail-container .product-thumbnail img, .featured-products .thumbnail-container .product-thumbnail img, .product-accessories .thumbnail-container .product-thumbnail img, .product-miniature .thumbnail-container .product-thumbnail img {
    margin-left: 11px;
}

#products .product-miniature, .featured-products .product-miniature, .product-accessories .product-miniature, .product-miniature .product-miniature {
    box-sizing: border-box;
    width: 31%;
}	

#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description {
    height: 106px;
    top: 271px;
    right: 59px;
}

#products .highlighted-informations .quick-view, .featured-products .highlighted-informations .quick-view, .product-accessories .highlighted-informations .quick-view, .product-miniature .highlighted-informations .quick-view:hover {
    color: #000;
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    white-space: nowrap;
    z-index: 3;
    right: 1px;
}

}


@media screen and (max-width: 1339px) and (min-width: 1280px){
	#products .products, .featured-products .products, .product-accessories .products, .product-miniature .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 250px;
}

.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;
    display: none;
}

div.header i.shopping-cart {
    padding-left: 245px;
    margin-top: 65px;
    position: absolute;
}

.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    color: #7a7a7a;
    position: absolute;
    top: 64px;
    right: 286px;
}

}

@media screen and (max-width: 1279px) and (min-width: 1250px){
	.tabs .nav-tabs {
    border: none;
    border-bottom: none !important;
    width: 650px;
    margin: 0 auto;
	}

}

@media screen and (max-width: 1249px) and (min-width: 1120px){
	.tabs .nav-tabs {
    border: none;
    border-bottom: none !important;
    width: 650px;
    margin: 0 auto;
}

#products .products, .featured-products .products, .product-accessories .products, .product-miniature .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 77%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 187px;
}

.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    color: #7a7a7a;
    position: absolute;
    top: 64px;
    right: 200px;
}

.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;
    display: none;
}

div.header i.shopping-cart {
    padding-left: 249px;
    margin-top: 65px;
}

.paragraphe.text {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 180px;
    font-size: 14px !important;
}

.paragraphe {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 56px;
    font-size: 14px !important;
}

}


@media screen and (max-width:1119px) and (min-width: 992px){
	.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    color: #7a7a7a;
    position: absolute;
    top: 64px;
    right: 138px;
}

div.header i.shopping-cart {
    padding-left: 258px;
    margin-top: 65px;
}

#products .products, .featured-products .products, .product-accessories .products, .product-miniature .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 77%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 110px;
}

.paragraphe {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 50px;
    font-size: 14px !important;
}

.paragraphe.text {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 133px;
    font-size: 14px !important;
}

.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;
    display: none;
}

}

		/*MEDIA QUERY VERSION TABLETTE*/

@media screen and (max-width: 991px){

div.header i.shopping-cart {
    padding-left: 277px;
    margin-top: 79px;
}

.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    right: 109px;
    top: 78px;
    color: #7a7a7a;
}

	.paragraphe.text {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 129px;
    margin-bottom: 129px;
    font-size: 14px !important;
}

.paragraphe.text {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 163px;
    margin-right: 114px;
    font-size: 14px !important;
    float: right;
}

img[src="themes/classic/assets/image/eximg2.png"]{
	width: 50%;
}

img[src="themes/classic/assets/image/img4.png"]{
	float: rigth;
	width: 50%;
}

.paragraphe {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 125px;
    margin-left: 153px;
    font-size: 14px !important;
    float: left;
}

img[src="themes/classic/assets/image/img3.png"]{
	padding-top:126px;
	width:50%;
}



}
/* gam */
#search .m-15{
    display:none;
}
/*fin gam*/

