@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url(//db.onlinewebfonts.com/c/0f56c874ba695191e7f4cab237447698?family=Futura);

/*----*/


/*PROPRETY FOR ALLS*/

/*#index .container {
    width: 100% !important;
    padding: 0 !important;
}*/

.container.legende {
    width: 100% !important;
    padding: 0 !important;
}

.row.inter {
    width: 100% !important;
    padding: 0 !important;
    height: 100px !important;
}

.row {
    margin: 0 !important;
}

#numero {
    margin: 0 !important;
    text-align: center !important;
    margin-top: 30px !important;
}

#economie {
    margin: 0 !important;
    text-align: center !important;
    margin-top: 30px !important;
}

#partage {
    margin: 0 !important;
    text-align: center !important;
    margin-top: 30px !important;
}

#livraison {
    margin: 0 !important;
    text-align: center !important;
    margin-top: 30px !important;
}

#products .product-miniature .product-flags li.product-flag,
.featured-products .product-miniature .product-flags li.product-flag,
.product-accessories .product-miniature .product-flags li.product-flag,
.product-miniature .product-miniature .product-flags li.product-flag {
    display: none;
}

#index #products .thumbnail-container,
.featured-products .thumbnail-container,
.product-accessories .thumbnail-container,
.product-miniature .thumbnail-container {
    position: relative;
    margin-bottom: 1.563rem;
    height: 318px;
    width: 352px;
    background: #fff;
    box-shadow: none;
}

.paragraphe h4 {
    font-family: 'Futura', sans-serif !important;
    /* color: #890D25!important; */
    color: #9C5757!important;
    font-size: 14px;
}

.paragraphe .text-center {
    font-family: 'Open Sans', sans-serif;
    text-align: left !important;
}

#index .tabs .nav-tabs .nav-link.active {
    color: #000;
    /* background: #890D25; */
    background: #9C5757;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    font-size: 14px;
}

#index .nav-item a {
    background: #fff;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000!important;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    width: 162px !important;
    text-align: center!important;
    font-size: 14px;
    font-weight: 400;
}

.paragraphe .text-center {
    font-family: 'Open Sans', sans-serif;
    text-align: left !important;
}

#products .highlighted-informations,
.featured-products .highlighted-informations,
.product-accessories .highlighted-informations,
.product-miniature .highlighted-informations {
    position: absolute;
    bottom: 1.25rem;
    padding-top: 3px;
    z-index: 2;
     /* gam --- background: #fff; */
    text-align: center;
    width: 200px;
    height: 3.125rem;
    color: #000;
    box-shadow: none;
    transition: bottom .3s;
    right: 63px;
    bottom: -5px;
}

#products .thumbnail-container:focus .highlighted-informations.no-variants,
#products .thumbnail-container:hover .highlighted-informations.no-variants,
.featured-products .thumbnail-container:focus .highlighted-informations.no-variants,
.featured-products .thumbnail-container:hover .highlighted-informations.no-variants,
.product-accessories .thumbnail-container:focus .highlighted-informations.no-variants,
.product-accessories .thumbnail-container:hover .highlighted-informations.no-variants,
.product-miniature .thumbnail-container:focus .highlighted-informations.no-variants,
.product-miniature .thumbnail-container:hover .highlighted-informations.no-variants {
    bottom: 50px;
    color: #000;
}

#products .thumbnail-container:focus .highlighted-informations.no-variants,
#products .thumbnail-container:hover .highlighted-informations.no-variants,
.featured-products .thumbnail-container:focus .highlighted-informations.no-variants,
.featured-products .thumbnail-container:hover .highlighted-informations.no-variants,
.product-accessories .thumbnail-container:focus .highlighted-informations.no-variants,
.product-accessories .thumbnail-container:hover .highlighted-informations.no-variants,
.product-miniature .thumbnail-container:focus .highlighted-informations.no-variants,
.product-miniature .thumbnail-container:hover .highlighted-informations.no-variants:hover {
    color: #000;
}

#index #products .products,
.featured-products .products,
.product-accessories .products,
.product-miniature .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* width: 80%;*/
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: auto;
    padding: 0px 30px;
    /* gam */
}

.paragraphe.text {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 253px;
    font-size: 14px !important;
}

.paragraphe {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 85px;
    font-size: 14px !important;
}

.m-15 button {
    background-color: #222222;
    color: white;
    border-radius: 0px;
    border: 1px solid #222222;
    display: inline-block;
    cursor: pointer;
    font-family: 'Futura', sans-serif !important;
    font-size: 14px !important;
    text-decoration: none;
    text-shadow: 0px 1px 0px black !important;
    margin-top: 20px;
}

#index .tabs .nav-tabs {
    border: none;
    border-bottom: none !important;
    width: 698px;
    margin: 0 auto;
}

#index .tabs .nav-tabs .nav-link.active {
    color: #000;
    /* background: #890D25; */
    background: #9C5757;
    font-family: 'Futura', sans-serif !important;
    font-size: 14px;
    /* gam
    margin-left: 20px; */
}

#index .nav-item a {
    background: #fff;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000!important;
    font-family: 'Futura', sans-serif !important;
    height: 36px!important;
    text-align: center!important;
    font-size: 14px;
    font-weight: 400;
    margin-left: 62px;
}

.tabs {
    padding: 0%;
    background: none;
    box-shadow: none;
    margin-top: 92px;
}

.nav-tabs .nav-link.active {
    color: #000;
    /*background: #c3d9b1;*/
    font-family: 'Futura', sans-serif !important;
    font-size: 14px;
    margin-left: 20px;
    white-space: nowrap;
}

.block-social {
    text-align: right;
    display: none !important;
}

#products .product-miniature,
.featured-products .product-miniature,
.product-accessories .product-miniature,
.product-miniature .product-miniature {
    /*DELTA*/
    /* margin: 90px 11px; */
    margin: 44px 11px;
    padding: 0px;
    box-sizing: border-box;
}


/*MEDIA QUERY*/

@media screen and (min-width:1340px) {
    #header .header-top .search-widget {
        /* padding-top: 63px;*/
        padding-left: 25px;
        margin-left: -40px;
    }
    i.material-icons.search {
        margin-left: 27px;
        position: absolute;
        margin-top: -26px;
    }
    #_desktop_cart .header {
        margin-left: 314px;
        margin-top: -32px;
    }
    ul#top-menu li#category-2323 .top-menu[data-depth="1"]{
        padding-left: 29%!important;
    }
    ul#top-menu li#category-300 .top-menu[data-depth="1"]{
        padding-left: 10%!important;
    }
    ul#top-menu li#category-361 .top-menu[data-depth="1"]{
        padding-left: 10%!important;
    }
    ul#top-menu li#category-392 .top-menu[data-depth="1"]{
        padding-left: 10%!important;
    }
}

#header .header-top .search-widget form input[type=text] {
    border: none;
}



@media screen and (min-width:1340px) {
    /*	.search-widget form button[type=submit] {
    background: none;
    border: none;
    top: -11px;
    right: 218px;
    position: absolute;
    color: #7a7a7a;
}*/
    /*div.header i.shopping-cart {
    position: absolute;
    top: 129px;
    right: 216px;
}*/
    /*.search-widget form button[type=submit] {
    background: none;
    border: none;
    position: absolute;
    top: 68px;
    right: 217px;
    color: #7a7a7a;
}*/
    #products .highlighted-informations .quick-view,
    .featured-products .highlighted-informations .quick-view,
    .product-accessories .highlighted-informations .quick-view,
    .product-miniature .highlighted-informations .quick-view:hover {
        color: #000;
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        white-space: nowrap;
        z-index: 3;
    }
    /*.header-top .search-widget form input[type=text] {
    		display: none;
	}*/
    #index #products .highlighted-informations,
    .featured-products .highlighted-informations,
    .product-accessories .highlighted-informations,
    .product-miniature .highlighted-informations {
        position: absolute;
        bottom: 1.25rem;
        padding-top: 3px;
        z-index: 2;
       /* gam --- background: #fff; */
        text-align: center;
        width: 282px;
        height: 3.125rem;
        color: #000;
        box-shadow: none;
        transition: bottom .3s;
        right: 102px;
        bottom: -5px;
    }
    .products {
        /* gam margin-left: 5% !important; */
    }
    #index #products .thumbnail-container .product-thumbnail img,
    .featured-products .thumbnail-container .product-thumbnail img,
    .product-accessories .thumbnail-container .product-thumbnail img,
    .product-miniature .thumbnail-container .product-thumbnail img {
        margin-left: 11px;
    }
    #index #products .product-miniature,
    .featured-products .product-miniature,
    .product-accessories .product-miniature,
    .product-miniature .product-miniature {
        box-sizing: border-box;
        width: 31%;
    }
    #index #products .product-description,
    .featured-products .product-description,
    .product-accessories .product-description,
    .product-miniature .product-description {
        height: 106px;
        top: 271px;
        right: 59px;
    }
    #products .highlighted-informations .quick-view,
    .featured-products .highlighted-informations .quick-view,
    .product-accessories .highlighted-informations .quick-view,
    .product-miniature .highlighted-informations .quick-view:hover {
        color: #000;
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        white-space: nowrap;
        z-index: 3;
        /*DELTA*/
        /* right: 1px; */
        right: 25px;
    }
}


/*BETA*/

body#index div.highlighted-informations a.quick-view {
    right: -37px;
}

@media screen and (max-width: 1339px) and (min-width: 1280px) {
    #index #products .products,
    .featured-products .products,
    .product-accessories .products,
    .product-miniature .products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 80%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: 250px;
    }
    /*.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;
    display: none;
}*/
    div.header i.shopping-cart {
        position: relative;
        position: relative;
        margin-top: -64px;
        margin-left: 305px;
        /* padding-left: 245px;*/
    }
    /*#index #header #_desktop_cart {
   		position: relative;
   		margin-left: 254px;
    	margin-top: -28px;
	}*/
    /* span.cart-products-count {
    position: absolute;
    margin-top: -64px;
    margin-left: 256px;
	}*/
    /*span.cart-products-count { toky
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
}*/
    /*span.cart-products-count {
    margin-top: 1px;
    position: absolute;
}*/
    span.cart-products-count {
        margin-top: -32px;
        position: absolute;
        margin-left: 7px;
    }
    /*.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    color: #7a7a7a;
    position: absolute;
    top: 64px;
    right: 286px;
}*/
    i.material-icons.search {
        margin-left: 11px;
        position: absolute;
        margin-top: -27px;
    }

}

@media screen and (max-width: 1279px)
/*and (min-width: 1250px) */

{
    #index .tabs .nav-tabs {
        border: none;
        border-bottom: none !important;
        width: 650px;
        margin: 0 auto;
        /* margin-right: -48px!important; */
    }
    #index #header #_desktop_cart {
        margin-left: 264px;
        position: relative;
        margin-top: -31px;
    }
    @media screen and (max-width: 1249px) {
        #index .tabs .nav-tabs {
            border: none;
            border-bottom: none !important;
            width: 100%;
            margin: 0 auto;
        }
        #index #header #_desktop_cart {
            margin-left: 264px;
            position: relative;
            margin-top: -31px;
        }
        #index #products .products,
        .featured-products .products,
        .product-accessories .products,
        .product-miniature .products {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 77%;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            /*delta margin-left: 187px; */
        }
        /*.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    color: #7a7a7a;
    position: absolute;
    top: 64px;
    right: 200px;
}*/
        /*.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;
    display: none;
}*/
        /* div.header i.shopping-cart {
	        /*padding-left: 249px;
	        margin-top: 65px;*/
        position: relative;
        /*margin-top: -1px;*/
    }
}

.paragraphe.text {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 180px;
    font-size: 14px !important;
}

.paragraphe {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 56px;
    font-size: 14px !important;
}


}
@media screen and (max-width: 1176px) {
    div.header {
        position: relative;
        margin-top: -104px;
        margin-left: 36px;
    }
    
    #index #header #_desktop_cart {
        /*float: right;*/
        padding-top: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width:1119px) and (min-width: 990px) {
    /*.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    color: #7a7a7a;
    position: absolute;
    top: 64px;
    right: 138px;
}*/
    
    div.header i.shopping-cart {
        position: relative;
        margin-top: 72px;
        margin-left: 0px;
    }
    
    #index #products .products,
    .featured-products .products,
    .product-accessories .products,
    .product-miniature .products {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 77%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: 110px;
    }
    
    .paragraphe {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 0!important;
        margin-top: 50px;
        font-size: 14px !important;
    }
    
    .paragraphe.text {
        width: 200px;
        margin: 0 auto;
        text-align: left;
        padding-top: 0!important;
        margin-top: 133px;
        font-size: 14px !important;
    }
    /*.header-top .search-widget form input[type=text] {
    min-width: inherit;
    width: 100%;
    display: none;
}*/
    
    #index #header #_desktop_cart {
        padding-top: 0px;
        padding-right: 0px;
        margin-top: -103px;
        margin-left: 243px;
        position: absolute;
    }
    
    span.cart-products-count {
        margin-top: 74px;
        position: absolute;
    }
}

/*MEDIA QUERY VERSION TABLETTE*/
@media screen and (max-width: 991px)/* and (min-width:480px) */
{
    /*DELTA*/
    div.links{
        margin-left: 254px!important;
    }

    body#category div.thumbnail-container div.highlighted-informations.no-variants.hidden-sm-down i.material-icons.search{
        margin-left: 20px!important;
    }

    div.footer-container div.footer_element{
        margin-left: -22px;
    }

    .row .lien_footer{
        margin-left: 0px!important;
    }

    .suivre_foot{
        margin-top: -390px!important;
    }

    img.sary_footer{
        width: 200px;
    }

    h3#provin{
        margin-top: 47px!important;
    }

    .wrapper p{
        margin-bottom: 0px!important;
    }

    .lien_footer #boutique {
    margin-bottom: 0px!important;
    margin-top: 70px;
    font-size: 14px;
    }
    /*BETA*/
    
    #header .header-top .search-widget form input[type=text] {
        margin-right: -46px!important;
    }
    
    button i.search {
        margin-right: -65px!important;
    }
    
    body#index div#search_widget form {
        margin-right: 16px;
    }
    
    body#index img[src="themes/classic/assets/image/img4.png"] {
        float: right;
        /* width: 50%; */
    }
    
    
    .row .block_newsletter {
        margin-top: -400px !important;
    }
    
    div.header i.shopping-cart {
        padding-left: 0px;
        /* margin-top: -62px; */
    }
    
    div.header span.cart-products-count {
        /* margin-top: 48px; */
        position: absolute;
        /* margin-top: -29px!important; */
        /* margin-top: 0px; */
        /* margin-left: 0px; */
    }
    
    #index #header #_desktop_cart {
        /* margin-left: 247px;
    margin-top: -29px;
    position: relative; */
        /*BETA*/
        margin-left: 248px;
        margin-top: 0px;
        position: relative;
    }

    div#_desktop_top_menu ul#top-menu{
        margin-left: 48px;
    }
    
    div ul#top-menu li a.dropdown-item{
        margin-left: -35px;
    }
}
@media screen and (max-width: 991px) and (min-width: 480px) {
    body#index div.paragraphe.text {
        /* delta margin-right: 0px;
        margin-top: 0px; */
        margin-top: -49%!important;
        margin-right: -7%;
        float: right;
    }

    body#index div.para-1, div.para-2{
        padding-top: 15px!important;
        margin: 5px!important;
        padding-left: 0px!important;
    }
    
    body#index div.paragraphe {
        /* delta margin: 20px; */
        margin-left: 100px;
        margin-top: -20%!important;
    }

    body#index ul li.nav-item{
        width: 195px;
    }
    
    body#index img[src="themes/classic/assets/image/img3.png"] {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
    .para-1, .para-2{
        margin: 20px!important;
        margin-top: 0px!important;
    }
    .footer_element{
        margin-left: 0px!important;
    }
    .lien_footer#infosbout{
        float: left;
    }
    div.links{
        left: -85px!important;
    }
}

@media screen and (max-width: 411px) {
    img[src="themes/classic/assets/image/img4.png"] {
    width: 50%!important;
    float: right;
    }

    img[src="themes/classic/assets/image/eximg2.png"] {
    width: 50%!important;
    float: left;
    }

    img[src="themes/classic/assets/image/img3.png"] {
    width: 50%!important;
    float: left;
    }
    .paragraphe.text {
        float: right;
        margin-top: -140px!important;
    }

    .para-1{
        margin-top: -71px!important;
        padding: 14px;
    }

    .para-2{
        margin-top: -85px!important;
    }

    #index .nav-item a{
        margin-left: 0;
        width: 124px!important;
        font-size: 12px!important;
    }

    #header{
        padding: 0px;
    }
    .float-xs-left{
        margin-left: -37px!important;
        margin-top: -30px!important;
        position: absolute;
        top: 149px;
        left: 45px;
        z-index: 33;
    }
    /* GM */
    #header .header-top{
        height: 100px;
    }

    .cart-products-count{
       padding-top: 0px!important;
    }
    #header i.shopping-cart{
        /* margin-top: 0px!important;
        margin-left: -20px!important;  */
        padding-top: 30px!important;
        color: white!important;
        margin-left: -20px!important;
    }
     /*GM */
     .products-sort-order{
        padding: 0px 0px 20px 0px;
    
    }
    div#head_men{
        display: none;
    }

    .ui-autocomplete-input{
        margin-top: -44px!important;
        margin-right: 0px!important;
        margin-bottom: 26px!important;
    }
    #numero, #economie, #partage, #livraison{
    float: left;
    width: 24%;
    margin-top: 10px!important;
    }
    .suivre_foot{
        margin-top: -188px!important;
        margin-right: -75px!important;
    }
    img.sary_footer, h3#provin {
        /* margin-left: 60px; */
    }
    body#cms iframe{
        width: 100%!important;
    }
     /*GM */
    #header .user-info i.material-icons{
        margin-top: -50px!important;
    }   
    #header .header-nav .top-logo a img {
        max-height: 65px;
        max-width: 100%;
        margin-top: 5px!important;
        padding-left: 85px!important;
    }
    article.product-miniature.js-product-miniature{
        margin-left: 63px!important;
    }
    body#index .product-thumbnail img{
        margin-left: -60px!important;
    }
    #header button i.search {
        margin-left: -75px;
    }
}

/*.search-widget form button[type=submit] {
    position: absolute;
    background: none;
    border: none;
    right: 109px;
    top: 78px;
    color: #7a7a7a;
}*/
.paragraphe.text {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 0!important;
    margin-top: 129px;
    margin-bottom: 129px;
    font-size: 14px !important;
}
.paragraphe.text {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 25%!important;
    /* margin-top: 163px;
        margin-right: 114px;*/
    
    font-size: 14px !important;
    /*float: right;*/
}
.paragraphe {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 25%!important;
    /* margin-top: 125px;
        margin-left: 153px;*/
    
    font-size: 14px !important;
    /* float: left;*/
}

.para-1, .para-2{
    /* width: 200px; */
    margin: 0 auto;
    text-align: left;
    padding-top: 25%!important;
    font-size: 14px !important;
    padding-left: 80px!important;
}

.para-1 h4, .para-2 h4{
    color: #9C5757!important;
    font-size: 14px;
}


/*BETA*/
img[src="themes/classic/assets/image/eximg2.png"] {
    width: 100%;
}
img[src="themes/classic/assets/image/img4.png"] {
    /* float: rigth; */
    
    width: 100%;
}
img[src="themes/classic/assets/image/img3.png"] {
    /* padding-top: 126px; */
    
    width: 100%;
}

/* gam */
#search .m-15 {
    display: none;
}
#header .header-top .search-widget {
    /* padding-top: 63px;*/
    
    padding-left: 25px;
    margin-left: -40px;
}
#header .header-top .search-widget form input[type=text] {
    border: none;
    position: relative;
    margin-left: 50px;
    margin-top: 60px;
}

/*#index #header #_desktop_cart {
    margin-left: 257px;
    margin-top: -103px;
    position: relative;
}*/
#header #_desktop_cart {
    /*float: right;*/
    /* padding-top: 74px;
    padding-right: 250px;
    padding-top: 74px;
    padding-right: 155px;toky*/
}
#search #header #_desktop_logo a img {
    float: right;
}

/* add border on input */
#header .header-top .search-widget form input[type=text]:hover {
    border: 2px solid black;
}
.highlighted-informations.no-variants.hidden-sm-down {
    margin-right: -40px;
}
.highlighted-informations.no-variants.hidden-sm-down .quick-view {
    /* margin-right: 30px!important; */
    
    margin-right: 12%;
}

/* .highlighted-informations.no-variants.hidden-sm-down {
    margin-right: -27px;
} */

/*fin gam*/
@media screen and (max-width: 767px) {
    #header .header-top .search-widget form input[type=text] {
       width: 100%;
        margin-top: 55px!important;
        margin-left: 17px!important;
    }
    
    #header .header-top .search-widget {
        margin-top: -51px;
        /* position: absolute; */
        margin-left: -22px;
    }
}
@media screen and (max-width: 360px) {
    #header .header-nav .cart-preview .shopping-cart {
        vertical-align: middle;
        /* color: #7a7a7a; */
        padding: 0%;
        margin: 0% 0%;
        margin-top: -53px!important;
        margin-left: -17px!important;
        color: white;
    }
    body#category div.thumbnail-container div.highlighted-informations.no-variants.hidden-sm-down i.material-icons.search{
        margin-left: 20px!important;
    }
    body#contact footer.form-footer.text-sm-right input.btn.btn-primary{
        margin-top: 20px!important;
        margin: 20px;
    }
    div.add button.btn.btn-primary.add-to-cart{
        margin-top: 0px!important;
    }
    .material-icons.touchspin-up, .material-icons.touchspin-down, .material-icons.rtl-no-flip, div.cart-summary-products p a i.material-icons
    , a.label i.material-icons, .material-icons.float-xs-left, .material-icons.float-xs-right, body#category a .material-icons.search
    ,.material-icons.add, .hidden-md-up.text-xs-right.up a i, .material-icons.remove, a.next.js-search-link i.material-icons{
        margin-top: 0px!important;
    }
    .material-icons.add{
        padding-left: 250px;
    }
    body#category div#mobile_top_menu_wrapper span.navbar-toggler.collapse-icons i.material-icons.remove{
        padding-left: 250px;
    }
    div.title.clearfix.hidden-md-up span.navbar-toggler.collapse-icons i.material-icons.add{
        padding-left: 0px!important;
        color: white;
    }
    body#category .hidden-md-up.text-xs-right.up a.btn.btn-secondary{
        margin: 0;
        margin-top: 0px!important;
    }
    button.add-to-cart i.material-icons.shopping-cart{
        margin-left: 0px!important;
    }
    button.close span i.material-icons{
        margin-top: 0px!important;
    }
    .material-icons{
        margin-top: -60px!important;
    }

    body#cms iframe, h3 img{
        width: 100%!important;
    }
    
    #header {
        /*delta background: #f1f1f1; */
    }

    div.header span.cart-products-count{
        margin-top: 0px!important;
    }
    
    .header-top .search-widget form input[type=text] {
        min-width: inherit;
        width: 94%;
    }
    
    .header-top .search-widget form input[type=text] {
        min-width: inherit;
        background: #fff;
        padding: 3% 4%;
        margin: 0% -5%;
    }
    
    #head_men {
        height: 0px;
    }
    
    #header .header-nav .top-logo a img {
        max-height: 65px;
        max-width: 100%;
        margin-top: 5px!important;
        padding-left: 85px!important;
    }
    
    .m-15 button {
        background-color: black;
        color: white;
        border-radius: 0px;
        border: 1px solid black;
        display: inline-block;
        cursor: pointer;
        font-family: 'Futura', sans-serif !important;
        font-size: 14px !important;
        text-decoration: none;
        text-shadow: 0px 1px 0px black;
        font-weight: medium !important;
        width: 124px !important;
        height: 34px !important;
        margin-top: 5px;
        margin-left: 0px !important;
    }
    
    .paragraphe .text-center {
        /* delta font-family: 'Open Sans', sans-serif;
        margin-top: 0px!important;
        text-align: left !important;
        padding: 10px 0px; */
    }
    
    .para-1{
        /*delta  padding: 20px 114px !important;
        margin: 4px 4px; */
        float: left;
        margin-left: 20px;
        padding: 0px!important;
        margin-top: -130px!important;
        width: 50%;
    }

    .para-2{
        float: right;
        width: 50%;
        padding-left: 20px!important;
        margin-top: 1%;
        margin-right: 0px;
    }
    
    #index .tabs .nav-tabs .nav-item {
        /* delta float: left;
        margin: -11% -2%;
        text-align: center;
        padding: 0% 1%; */
    }
    
    #index .tabs .nav-tabs {
        border: none;
        border-bottom: none!important;
        /*delta padding-left: 17%; */
    }
    
    #products .thumbnail-container .product-thumbnail img,
    .featured-products .thumbnail-container .product-thumbnail img,
    .product-accessories .thumbnail-container .product-thumbnail img,
    .product-miniature .thumbnail-container .product-thumbnail img {
        max-width: 100%;
        position: absolute;
        bottom: 0;
        /* delta margin: 2% -8%; */
        width: 100%;
        /* margin: 0; */
        /* margin-left: -60px!important; */
    }

    body#index .product-thumbnail img{
        margin-left: -60px!important;
    }
    
    /* delta img {
        vertical-align: middle;
    } */

    body#index section.m-15 div.text{
        padding: 0px!important;
        float: right;
        width: 50%;
        padding-left: 20px!important;
        margin-top: -50px!important;
    }
    
    #header .header-top>.container {
        position: relative;
        margin: 5% 1%;
        padding: 0% 3%;
    }
    
    img[src="themes/classic/assets/image/img3.png"] {
        /* delta padding-top: 8% !important; */
        padding: 0px!important;
        margin-top: 0px!important;
    }

    body#index img[src="themes/classic/assets/image/img4.png"] {
        float: right;
        width: 50%;
    }
    
    body#index img[src="themes/classic/assets/image/eximg2.png"] {
        width: 50%;
    }
    
    body#index img[src="themes/classic/assets/image/img3.png"] {
        width: 50%;
        /* padding-top: 18%; */
    }
    
    #products .thumbnail-container .product-description,
    .featured-products .thumbnail-container .product-description,
    .product-accessories .thumbnail-container .product-description {
        /* delta padding: 0% 6%;
        margin: 21% -68%;
        border: none!important; */
        /* margin: 0% -34%; */
    }

    body#index .thumbnail-container .product-description{
        margin: 0% -34%;
    }
    
    #products .thumbnail-container .product-description,
    .featured-products .thumbnail-container .product-description,
    .product-accessories .thumbnail-container .product-description {
        box-shadow: none !important;
    }
    
    #index .nav-item a {
        background: #fff;
        color: #000;
        text-transform: uppercase;
        /* delta margin: 22% 7%; */
        border: 1px solid #000!important;
        font-family: 'Futura', sans-serif !important;
        font-size: 10px!important;
        /*delta height: 36px!important;
        width: 193px !important; */
        /* text-align: center!important; */
        font-weight: 400;
        width: 107px!important;
        margin: 0;
    }

    section#content div.tabs{
        /* width: 0%!important; */
    }
    
    .legende {
        background-color: #c3d9b1;
        width: 100%;
        display: flex;
        flex-direction: row;
        /* padding-top: 19px; */
        padding-bottom: 20px;
        position: relative;
        /* delta top: 50px;
        text-align: left; */
    }
    
    #partage {
        /* delta padding-left: 5%; */
        float: left;
        width: 26%;
    }
    
    .search-widget form button[type=submit] {
        /* position: absolute; */
        background: none;
        border: none;
        color: #7a7a7a;
        margin: 9px -45px;
    }
    
    div.header i.shopping-cart {
        /* padding-left: 287px !important;
        margin-top: -63px !important; */
        padding-left: 0px !important;
        margin-top: 23px !important;
    }
    
    .d-inline {
        /*delta font-family: Material Icons;
        font-weight: 400;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        line-height: 1;
        margin: 2px -10px; */
        /* margin-left: -53px; */
    }

    button i.search{
        /*margin-left: -149px;*/
        margin-top: -45px!important;
    }
   
    
    #index .tabs .nav-tabs {
        border: none;
        border-bottom: none!important;
        /* padding-left: 20%; */
    }

    div.legende div.inter{
        width: 100%!important;
    }
    
    #numero {
        /* delta margin: 10px 93px; */
        float: left;
        width: 22%;
    }

    #economie{
        float: left;
        width: 22%;
    }

    #livraison{
        float: left;
        width: 22%;
    }

    h3#provin{
        margin-top: 60px !important;
        float: none;
    }
    
    div.footer-container div.footer_element{
        margin-left: -20px;
    }

    div.suivre_foot{
        /* margin-right: -74px;
        margin-top: -20px!important; */
    }
}

/* --- header----*/
#index #header #_desktop_top_menu .top-menu .sub-menu.collapse {
    top: 282px !important; /* GAM */
    ;
}
#header #_desktop_top_menu .top-menu .sub-menu.collapse {
    top: 282px !important; /* GAM */
    padding-left: 50px;
}
/* ---fin header----*/

/* --- menu (gam)----*/
ul#top-menu li#category-2 .sub-menu.collapse{
    display: none !important;
}
ul#top-menu li#category-2323 .top-menu[data-depth="1"]{
    padding-left: 25%;
    /* padding-left: 42%; */
}
/* --- fin menu----*/

/*--- page category---*/
#category #products .thumbnail-container,
.featured-products .thumbnail-container,
.product-accessories .thumbnail-container,
.product-miniature .thumbnail-container {
    /* gam width: 215px;*/
    width: 193px;
}
@media screen and (min-width:1340px) {
    #category #products .product-description,
    .featured-products .product-description,
    .product-accessories .product-description,
    .product-miniature .product-description {
        /*DELTA*/
        right: 0px;
        width: 100%;
    }
}

/*--- fin page category---*/

/* new css */
.popover.sub-menu.js-sub-menu.collapse {
    /* background: #F6F6F6!important; */
}
#top_sub_menu_27566 .category {
    color: black;
}
.popover .top-menu .category .dropdown-item {
    /* font-size: 100px!important; */
}

