    /* ####modif dans template container en footer_element */
    /* ###### /subdomains/presta-test3.projets-omega-web.net/themes/classic/templates/_partials/footer.tpl */
    
    .footer-container {
        /* padding: 57px !important; */
        padding-left: 37px;
        padding-right: 37px;
        margin-top: 0;
        /* padding-top: 1.25rem; */
        overflow: hidden;
        box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .3);
        width: auto !important;
        background-color: #222222;
    }
    
    .footer .footer-container {
        background: red;
    }
    
    #provin {
        color: #ffffff;
        z-index: 7;
        margin-bottom: 32px !important;
        margin-top: 68px !important;
        margin-left: 0;
        width: 276px;
        float: left;
        font-weight: normal;
        font-size: 12pt;
    }
    
    .row .lien_footer {
        color: #ffffff;
        margin-left: 278px;
        margin-top: -36px;
        width: 28%;
        /* height: 259px; */
        /* background: red; */
    }
    /* pour image map */
    
    .row .lien {
        width: 313px;
        height: 235px;
        margin-left: 0;
        /* float: left; */
    }
    
    .block_newsletter p {
        /* padding-top: 0.625rem; */
        /* margin-right: 0px; */
        /* margin-left: -1%; */
        margin-top: -42px;
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12pt;
        white-space: nowrap;
        /* float: left; */
    }
    
    .row .inter {
       /* background-color: #c3d9b1;*/
        /* padding: 1px; */
        width: 100%;
    }
    
    #numero {
        margin: 42px -175px;
    }
    
    #economie {
        margin: 37px 18px;
    }
    
    #partage {
        margin: 39px -86px;
    }
    
    #livraison {
        margin: -87px 900px;
    }
    
    .row .block_newsletter {
        margin-left: 262px;
        width: 70%;
        margin-top: -312px !important;
        padding-left: 0px;
    }
    /* bien verifier boot */
    /* .col-xs-12 {
    /* float: left;
    width: 78%;
    margin-left: 58%;
    margin-bottom: 8p;
    margin: -1px -6% 16px;
} */
    
    .block_newsletter form .input-wrapper {
        overflow: hidden;
        height: 55px;
        /* width: 30%; */
        /* background: palevioletred; */
        /* top: -17px; */
        /* margin-top: 16px; */
        /* margin-left: -119px; */
    }
    /* .block_newsletter {
        width: 50%;
     
        top: 60px;
        background: slategray;
    } */
    
    .btn-primary,
    .btn-secondary,
    .btn-tertiary {
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2);
        text-transform: uppercase;
        font-weight: 600;
        /* padding: .5rem 1.25rem; */
        background: #c3d9b1;
        padding: 5px;
        /* margin-top: -12px; */
    }
    /* fb tweeter */
    
    .links {
        width: 493px;
        /* position: relative; */
        /* margin: 1px 749px; */
        /* float: right; */
        /* margin-right: 189px; */
        /* right: 200px; */
        /* margin-top: -2px; */
        /* left: 585px; */
        /* margin-bottom: 25px; */
        top: -206px;
        /* padding: 1px; */
        /* background: pink; */
        /* margin: 0 0 !important; */
        /* float: right; */
        
    }
    
    .wrapper {
        padding: 0px !important;
    }
    /* pour categ mgbt */
    /* p.h3.hidden-sm-down {
    color: white;
    margin-bottom: 24px;
} */
    /* .lien_footer .lettre {
    background: red;
    width: 500px;
} */
    
    .lettre {
        /* background: red; */
        margin-top: -17px;
    }
    
    .lettre ul {
        font-size: 8pt;
        font-family: 'Open Sans', sans-serif;
        color:#777777;
    }
    
    .lettre ul li span{
        color:white;
    }
    
    .lien_footer #boutique {
        margin-bottom: 35px !important;
        font-weight: normal !important;
        /* background: red; */
    }
    /* #link-custom-page-produits-phares-1 {
    background: red;
    color: greenyellow;
} */
    /* grand ecran */
    /* .footer .footer-container .container .row {
        width: 500px;
    } */
    /* .block_newsletter {
        width: 70% !important;
        padding-top: 0px !important;
    } */
    /*######## form */
    
    .block_newsletter form input[type=email] {
        padding: 9px;
        width: 99%;
    }
    
    .block_newsletter form input {
        height: 32px;
        box-shadow: none;
    }
    /* form */
    /* fb */
    
    .suivre_foot {
        /* background: red; */
        float: right;
        /* width: 50px; */
        margin-top: -462px;
        margin-right: 5px;
    }
    
    .nous-suivre {
        /* margin-top: 89px; */
        /* float: right; */
        margin-right: 0 !important;
        width: 113px;
        /* float: right; */
        padding-top: 0px !important;
        /* background: red; */
        font-family: 'Open Sans', sans-serif;
        font-size: 12pt;
        color: #ffffff !important;
        font-style: normal;
        font-weight: normal !important;
        text-transform: lowercase;
        margin-bottom: 37px;
    }
    
    .nous-suivre::first-letter {
        text-transform: uppercase;
    }
    
    ul li .custom-page-link {
        color: #777777;
        font-size: 8pt;
        font-family: 'Open Sans', sans-serif;
        text-transform: initial;
    }
    
    .custom-page-link::first-letter {
        text-transform: uppercase !important;
    }
    
    ._blank {
        display: none;
    }
    /* .links .row .wrapper p h3 {
        background: red;
    } */
    
    .wrapper p {
        /* background: red; */
        text-transform: initial;
        font-family: 'Open Sans', sans-serif;
        font-size: 12pt;
        color: #ffffff !important;
        font-style: normal;
        font-weight: normal !important;
        margin-bottom: 37px;
    }
    
    .wrapper p::first-letter {
        text-transform: uppercase;
    }
    
    .sary_footer {
        width: 235px;
        height: auto;
    }
    
    .footer-container .footer_element {
        margin-left: 37px;
        margin-right: 37px;
    }

#infosbout .lettre li.france{
    padding-left: 23px;
}

/*#infosbout .lettre ul#ulinfos{

}*/

/*#infosbout{
    margin-top: -25px;
}*/
h3#boutique{
    margin-top: -25px;
}

form .row .col-xs-12{
padding-left: 0; 
}

input[value="s'inscrire"]{
 	color: #000;
}

 /* gam */
  #footer .legende{
      background-color: #c3d9b1;
  }
#footer .container{
    width: 1140px!important;
}